body{
  height: 100%;
  /*background: red; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, black , grey); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(right, black, grey); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(right, black, grey); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to right, #050A0E , #0D111C); /* Standard syntax (must be last) */
}

#header{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  height:100%;
  background-color: #050A0E;
  background-repeat: no-repeat;
  background-image: url("img/Headset_backdround.png");
  background-position: center;
  background-size: cover;
}

#enterTheMatrix{
  background-color:  #f0f2f4;
  border: #f0f2f4;
  color: #0D111C;
  border-color: #f0f2f4;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

#startButton{
  position: relative;
  bottom: 0px;
  left: 0px;
}

#header_wrapper{
  height: 600px;
}

.inner {
  color: white;
  width: 90%;
  margin: auto;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.nav li a:hover{
  background-color: #0C1018;
}

#splash_wraper{
  /*display: none;*/
}

#main {
  position: relative;
}
