body{
  height: 100%;
  /*background: red; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, black , grey); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(right, black, grey); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(right, black, grey); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to right, #050A0E , #0D111C); /* Standard syntax (must be last) */
}

#splash_wraper{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  height:100%;
  background-color: #050A0E;
  background-repeat: no-repeat;
  background-image: url("img/Headset_backdround.png");
  background-position: top center;
  background-size: cover;
}

#enterTheMatrix{
  background-color:  #f0f2f4;
  border: #f0f2f4;
  color: #0D111C;
  border-color: #f0f2f4;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 10%;
}

#startButton{

  bottom: 0px;
  left: 0px;
}

div {

}

.inner {
  position: relative;
  color: white;
  width: 90%;
  height: 100%;
  margin: auto;
}

.nav {
  position: fixed;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: #011110;
  text-align: center;
  padding: 14px 16px;
}

.nav li a:hover{
  background-color: #0C1018;
}

#main {
  position: relative;
}

#desktop_instructions{
  background-color: black;
  color: white;
}

.fadeImage {
            animation: fadein 4s;
    display: block;
    margin: 25px auto;
}

@keyframes fadein {
    0% { opacity: 0; }
    25%   { opacity: 1; }
    75%   {opacity: 1;}
    100% {opacity: 0;}
}
